category_encoders
datetime
dtype_diet
feature_engine
google-api-python-client
IPython
ipympl
    jupyter nbextension install --py --symlink --sys-prefix ipympl
ipywidgets
    jupyter nbextension enable --py --sys-prefix widgetsnbextension
numpy
matplotlib
missingno
pandas
pandas openpyxl
patsy
python-csv
pytrends
qgrid
requests
seaborn
scikit-learn
scipy
summarytools
    Jinja2
xgboost

jupyter

Data engeering

psycopg2



