category_encoders
datetime
dtype_diet
IPython
ipympl
    jupyter nbextension install --py --symlink --sys-prefix ipympl
ipywidgets
    jupyter nbextension enable --py --sys-prefix widgetsnbextension
numpy
matplotlib
pandas
pandas openpyxl
patsy
seaborn
scikit-learn
scipy
summarytools
    Jinja2

jupyter

Data engeering

psycopg2



